#########################################################################################################
##	This is an example .gitignore file for Vivado, please treat it as an example as 
##	it might not be complete. In addition, XAPP 1165 should be followed.
#########################################################################################################
#########
#Exclude all
#########
*
!*/
###########################################################################
##	VIVADO
###########################################################################
#########
#Source files:
#########
#Do NOT ignore VHDL, Verilog, block diagrams or EDIF files.
!*.vhd
!*.v
!*.bd
!*.edif
#########
#Simulation logic analyzer
#########
!*.wcfg
!*.coe
#########
#TCL - files
#########
!*.tcl
!*.xdc
#########
#Reports
#########
!*.rpt
!*.txt
!*.vdi
#### md ####
!*.md
#########
#C-files
#########
!*.c
!*.txt
!*.out
!*.h
!*.v
!*.jpg
!.gitignore
RV32IM/RV32IM.sim/sim_1/behav/xsim/xsim.dir/controUnit_TestBench_behav/Compile_Options.txt

